<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/layout.css}" type="text/css">
<!-- Load an icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="/js/jquery-2.1.1.js"></script>

  <th:block layout:fragment="css"></th:block>


 


<body>

<div th:replace="fragments/menubar::menubar"></div>

<div layout:fragment="content" class="content">

</div>
  <th:block layout:fragment="script"></th:block>


</body>
</html>
