<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="selInfo_table" id="selInfo_table" th:fragment="sel">
	<div>
		<p id="userId" name="userId" th:value="userId" ></p>
		<p id="username" th:value="${username}"></p>
		<input type="hidden" id="userChangeRole">
	</div>
	<div>
		<select id="ur_select" name="roleC">
			<option></option>
			<option th:each="r : ${roleList}" th:text="${r.roleName}" th:value="${r.roleId}"></option>
		</select>
		<button type="button" id="changeBtn">수정</button>

	</div>
</div>


</html>