<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thyemleaf/layout"
      layout:decorate="~{layout/layout1}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>



<th:block layout:fragment="css">

<style>

th,td {
 width: 100px;
 }
 
table {
  display: inline-block;
  }

select {
	width: 100px;
}

</style>

</th:block>

<body>

<div layout:fragment="content">

	<div class="wrapper">		
		
		<div class="userRole_title">
			<h1>사용자 권한 설정</h1>
		</div>
		
		<div class="role_info" >
			<!-- <table class="roleTable">
				
				
			</table>	 -->
			
			<table class="roleDetail">
				<tr>
					<th>권한명</th>
					<th>상태</th>
					<th>설명</th>
				</tr>
				
				<tr th:each="r : ${roleList}" >
					<td th:text="${r.roleName}" th:onclick="clickRole([[${r.roleId}]])"></td>
					<td th:text="${r.state}"></td>
					<td th:text="${r.description}"></td>
				</tr>
				
			</table>	
		</div>

		<div class="userRole_info test">

			<div class="urInfo test">
				<div class="table_title"><b>해당 권한 사용자 목록</b></div>
				<div class="urInfo_table" th:replace="~{/user/frag_urInfo::ur}">
					
				</div>
			</div>

			<div class="selInfo test">
				<div class="table_title"><b>해당 권한 사용자 목록</b></div>
				<div class="selInfo_table" th:replace="~{/user/frag_selInfo::sel}">
					
				</div>
			</div>
			
			<div class="NoUrInfo test">
				<div class="table_title"><b>해당 권한 사용자 목록</b></div>
				<div class="NoUrInfo_table">
					<table>
						<tr>
							<th>아이디</th>
							<th>이름</th>
							<th>권한</th>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</table>
				</div>
			</div>
		</div>

			
		

		
		
		
	</div> <!-- wrapper -->	
</div>


<th:block layout:fragment="script">
<!-- <script th:src="@{/js/plugins/sweetalert/sweetalert.min.js}" async></script> -->
<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
<script th:src="@{/js/plugins/validate/validate-ko.js}" ></script>


<script>




	function clickRole(data){	
	
		var roleId = data;
		console.log(roleId);
		 
		$(".urInfo_table").val('');
	
		$.ajax({
            url: 'userRole_info',
            type: "post",
            data: {roleId:roleId}, 
            async: false,
            success: function (data) {            	
            	
            	$(".urInfo_table").replaceWith(data);
           
 
               
            }
         })
		  
		
	};
	
	function change_userRole(data){	
		alert("hi");
		
		console.log(data);
		//$(".selInfo_table").replaceWith(data);
	}
	
	
$(document).ready(function () {
	
	

        function clickRole(data) {
        
             $.ajax({
                url: '',
                type: "post",
                data: $(form).serialize(), 
                success: function (result) {
                	
                	if (result !== 0){
                		alert("수정 하였습니다.");
                	// location.href="user_list";
                	} else
                		alert("오류가 발생하였습니다, 관리자에게 문의하세요");
                    //swal("사용자를 추가 했습니다", "", "success");
                   
                    
                }
            }); 
        }
        
})
        
</script>
</th:block>

	
</body>
</html>

