<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thyemleaf/layout"
      layout:decorate="~{layout/layout1}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
</th:block>

<th:block layout:fragment="css">
<style>


.add_buttonZone {
text-align:center;
padding-top: 20px;
}

.table_title {
text-align:center;
}

option, select {
	text-align: center;
	width: 90%;
}

input {
	text-align: center;
	width: 305px;
}

/* validate 줄바꿈 */
#add input +.error {
	display:block; color:red;
}


#add select +.error {
	display:block; color:red;
}


</style>

</th:block>

<body>

<div layout:fragment="content">

	<div class="wrapper">		
		
		<div class="user_table">
			<div class="table_title">
				<h1>사용자 상세/수정</h1>
			</div>
			<form  id="userEditForm" name="userEditForm">
				<input type="hidden" id="userId" name="userId" th:value="${user.userId}">
				<table width="500px">
					<tr>
						<th width="30%">아이디</th>
						<td th:text="${user.userId}"></td>
					</tr>
					<tr>
						<th>이름</th>
						<td><input type="text" id="username" name="username" th:value="${user.username}"></td>
					</tr>	
					<tr>
						<th>부서</th>
						<td>
							<select name="department" id="department">
		                        <option value="경영" th:selected="${user.department}=='경영'" >경영</option>
		                        <option value="운영" th:selected="${user.department}=='운영'">운영</option>
		                        <option value="기획" th:selected="${user.department}=='기획'">기획</option>
		                        <option value="마케팅" th:selected="${user.department}=='마케팅'">마케팅</option>
		                        <option value="관계사" th:selected="${user.department}=='관계사'">관계사</option>
		                    </select>
						</td>
					</tr>	
					<tr>
						<th>역할</th>
						<td>	
							<select id="roleId" name="roleId">					
						 		<option value="manager" th:selected="${user.roleName}=='관리자'">관리자</option>
		                        <option value="assitant" th:selected="${user.roleName}=='부관리자'">부관리자</option>
		                        <option value="general" th:selected="${user.roleName}=='직원'">직원</option>
		                        <option value="limitation" th:selected="${user.roleName}=='제한'">제한</option>
		                        <option value="visitor" th:selected="${user.roleName}=='관계사'">관계사</option>
		                    </select>
		               </td>
					</tr>	
					<tr>
						<th>이메일</th>
						<td><input type="text" id="email" name="email" th:value="${user.email}"></td>
					</tr>	
					<tr>
						<th>연락처</th>
						<td><input type="text" id="mobile" name="mobile" th:value="${user.mobile}"></td>
					</tr>				
						
				</table>
				
				<div class="add_buttonZone" >
					<button type="button" onclick="deleteUser();">삭제</button>
					<button type="button" onclick="location.href='/user/user_list'">목록</button>
					<button type="submit">수정</button>
				</div>
			</form>
		</div> <!-- userTable -->
		
	</div> <!-- wrapper -->	
</div>


<th:block layout:fragment="script">
<!-- <script th:src="@{/js/plugins/sweetalert/sweetalert.min.js}" async></script> -->
<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
<script th:src="@{/js/plugins/validate/validate-ko.js}" ></script>


<script>



	function deleteUser(){
		
	}


$(document).ready(function () {
	
	/* 사용자 추가 */
	
	// phone input - 하이픈 자동 추가
    $(document).on("keyup", "#mobile", function() {
        console.log("#key up!")
        $(this).val( $(this).val().replace(/[^0-9]/g, "").replace(/(^02|^0505|^1[0-9]{3}|^0[0-9]{2})([0-9]+)?([0-9]{4})$/,"$1-$2-$3").replace("--", "-") );
    });
    

     /* custom method
         name: 추가할 메서드 이름
         function: validation 처리 시 실제 동작 함수
         value: 사용자가 입력한 값
         element: validation이 체크되는 화면 요소
         params: rule에서 작성한 검증 값
         */

     // 이메일 validator custom function
     $.validator.addMethod("emChc", function(value, element, emChc){
         var EmChc = new RegExp(emChc);
         return EmChc.test(value);
     });

     // 휴대폰 validate custom function
     $.validator.addMethod("regex", function(value, element, regex){
         var regExp = new RegExp(regex);
         return regExp.test(value);
     });
     

	$("#userEditForm").validate({

             rules: {            	
                username: {
                    required: true,
                    rangelength: [2, 12],
                },
                department: "required",
                mobile: {
                    required: true,
                    regex : "^01(?:0|1|[6-9])[-\\s]?\\d{3,4}[-\\s]?\\d{4}$",
                    //isMobile: true
                },
                role: "required",
                email: {
                    required: true,
                    emChc: "^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*\.+[a-zA-Z]{2,3}$",
                    //"^([a-zA-Z0-9_.+-])+\@([a-zA-Z0-9-])+\.+([a-zA-Z0-9]{2,4})+$",
                    //"^[\w-]+(\.[\w-]+)*@([\w-]+\.)+[a-zA-Z]+$/",
                },           
            },
            messages: {        
                username: {
                    required: "비밀번호를 입력하세요",
                    rangelength: jQuery.validator.format("3-12자 사이의 영어/한글을 입력하세요"),
                    remote: jQuery.validator.format("{0} is already in use")
                },
                department:"부서를 선택하세요",
                mobile: {
                    required: "전화번호를 입력하세요",
                    regex: "유효한 전화번호로 입력하세요"
                    //isMobile: "유효한 전화번로를 입력하세요"
                },
                role: "역할을 선택하세요",
                email: {
                    required: "email 주소를 입력하세요",
                    emChc: jQuery.validator.format("email 형식이 맞지 않습니다"),
                    remote: jQuery.validator.format("{0} is already in use")
                }
            },
            debug: false,  // 기본값: false 입력값이 유효해도 submit 하지 않음
            // submitHandler : submit이벤트만 발생, 실제 form전송이 일어나지 않음 
            submitHandler: function (form) {
            	editForm(form);
            }

        });

        function editForm(form) {
        
             $.ajax({
                url: 'user_edit',
                type: "post",
                data: $(form).serialize(), 
                success: function (result) {
                	
                	if (result !== 0){
                		alert("수정 하였습니다.");
                	// location.href="user_list";
                	} else
                		alert("오류가 발생하였습니다, 관리자에게 문의하세요");
                    //swal("사용자를 추가 했습니다", "", "success");
                   
                    
                }
            }); 
        }
        
})
        
</script>
</th:block>

	
</body>
</html>

