<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thyemleaf/layout"
      layout:decorate="~{layout/layout1}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>



<th:block layout:fragment="css">

<style>

th,td {
 width: 100px;
 }
 
table {
  display: inline-block;
  }

select {
	width: 100px;
}

</style>

</th:block>

<body>

<div layout:fragment="content">

	<div class="wrapper">		
		
		<div class="userRole_title">
			<h1>사용자 권한 설정</h1>
		</div>
		
		<div class="role_info" >
			<!-- <table class="roleTable">
				
				
			</table>	 -->
			
			<table class="roleDetail">
				<tr>
					<th>권한명</th>
					<th>상태</th>
					<th>설명</th>
				</tr>
				
				<tr th:each="r : ${roleList}" >
					<td th:text="${r.roleName}" th:onclick="clickRole([[${r.roleId}]],[[${r.roleName}]])"></td>
					<td th:text="${r.state}"></td>
					<td th:text="${r.description}"></td>
				</tr>
				
			</table>	
		</div>

		<div class="userRole_info test">
			<div class="userRole_info_sub">
				<div class="urInfo test">
					<div class="table_title" style="margin:0;"><b>해당 권한 사용자 목록</b></div>
					<div class="urInfo_table" th:replace="~{/user/frag_urInfo::ur}">
						
					</div>
				</div>
	
				<div class="selInfo test" id="selInfo">
					<div class="table_title"><b>권한 수정</b></div>
					<div class="selInfo_table" th:replace="~{/user/frag_selInfo::sel}">
						
					</div>
				</div>
				
				<div class="NoUrInfo test" id="NoUrInfo">
					<div class="table_title"><b>해당 권한 외 사용자 목록</b></div>
					<div class="NoUrInfo_table" th:replace="~{/user/frag_noUrInfo::no}">
						
					</div>
				</div>
			</div>	
		</div>

			
		

		
		
		
	</div> <!-- wrapper -->	
</div>


<th:block layout:fragment="script">
<script th:src="@{/js/plugins/sweetalert/sweetalert.min.js}" async></script>
<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
<script th:src="@{/js/plugins/validate/validate-ko.js}" ></script>


<script>



	// 선택한 권한 관련 사용자 목록 출력
	function clickRole(roleId, roleName){	
	

		//var roleId = data;
		console.log("선택한 권한 : " +roleId);
		console.log("선택한 권한 : " +roleName);
		 
		
		//$("#selInfo_table").load(location.href + " #selInfo_table")
		
		document.getElementById("userId").textContent = "";		
		document.getElementById("username").textContent = "";
		document.getElementById("ur_select").selectedIndex = 0;
		
		
		
		$.ajax({
            url: 'userRole_info',
            type: "post",
            data: {roleId:roleId}, 
            async: false,
            success: function (data) {         	
            	            
            	$(".urInfo_table").replaceWith(data);
             	$("#curRole").replaceWith("<" + roleName + ">");
                          
            }
         })
        
         $.ajax({
            url: 'noUserRole_info',
            type: "post",
            data: {roleId:roleId}, 
            async: false,
            success: function (data) {         	           	
            
            	$(".NoUrInfo_table").replaceWith(data);           
               
            }
         })	   
		
	};
	
	
	// 해당 권한 사용자 출력 - button onclick
	function change_userRole(data){		
				
		$("#userId").html(data.userId);
		$("#userId").attr("value", data.userId);
		$("#changeBtn").attr("data-target", data.userId);
		
		$("#username").html(data.username);
		$("#username").attr("value", data.username);
		
		$("#userChangeRole").html(data.roleId);
		$("#userChangeRole").attr("value", data.roleId);
		
		// $("#roleName").html(data.roleName);
		console.log("----------------- ");
		console.log("선택할 권한 :" +data.roleName);
				
		$("#ur_select").val(data.roleId);		

	}
	
	
	
$(document).ready(function () {
	
	// 해당 사용자의 권한 변경
	$("#changeBtn").click(function(){
		
		console.log("----------------- 수정 클릭");
		
		var userId = $(this).data("target"); 
		var roleId = $("#userChangeRole").val();
		var changeRole = $("#ur_select").val();
		
		console.log("변경할 사용자 :" + userId);
		console.log("변경 전 권한 : " +roleId);
		console.log("변경 후 권한 : " +changeRole);
		
		
		$.ajax({
             url: 'change_role',
             type: "post",
             data: {userId : userId,
            	 	roleId : changeRole},
             success: function (result) {	// result : int
             	
             	if (result !== 0){
             		//alert("수정 하였습니다.");
             		swal("수정 하였습니다", "", "success");
             		
             		//console("noUser:" + roleId);
             		$.ajax({
                        url: 'noUserRole_info',
                        type: "post",
                        data: {roleId:roleId}, 
                        async: false,
                        success: function (data) {         	           	
                        
                        	$(".NoUrInfo_table").replaceWith(data); 
                        	$("#"+userId).parent().remove();
                           
                        }
                     })	   
             		
             	} else
             		//alert("오류가 발생하였습니다, 관리자에게 문의하세요");
                      swal("오류 발생 / 수정되지 않음", "", "error");
                
                 
             }
         });   
		
	})
	
})
        
</script>
</th:block>

	
</body>
</html>

