<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="menubar" th:fragment="menubar">
 	<div class="sidebar">
		
			<li><a href="/user/user_list"><i class="fa fa-fw fa-user"></i> 사용자 관리</a></li>
				<ul>
					<li><a id="sidebar_add" href="/user/user_add"><i class="fa fa-fw fa-user"></i>사용자 등록</a></li>
				</ul>
			<li> <a href="/user/user_role"><i class="fa fa-fw fa-user"></i> 사용자 권한 설정</a></li>
			<li><a href="/user/user_list"><i class="fa fa-fw fa-user"></i> 메뉴 권한 설정</a></li>
			<li><a href="/user/user_list"><i class="fa fa-fw fa-user"></i> 메뉴 설정</a></li>		
		
	</div>
	
</div>

</html>


 <!-- The sidebar 
<div class="sidebar">
  <a class="active" href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div>

<!-- Page content 
<div class="content">
  ..
</div>
-->

