
/* user_role 페이지 */

.role_info {
	height: 250px;
	text-align: center;
}

.userRole_title {
	text-align: center;
}

.userRole_info {
	height: 350px;
	text-align: center;
	padding-top: 30px;
}

.userRole_info_sub {	
	height: 300px;
	width: 70%;
	margin: auto;
	padding-top: 30px;
}



.test {
	border: 1px solid black;
}


.urInfo {	
    float: left;  
	height: 250px;
}


.selInfo {
	float: left;
	text-align: center;	
	padding: 0 30px;
	margin: 0 50px;
}

.NoUrInfo {
	float: left;  
	height: 250px;	
} 

.selInfo_table {
	width: 100px;
}


#cur {
	margin: 5px;
	height: 21px;
}

#curRole {
	height: 0;
	position: absolute;
}
#changeBtn {
	margin: 10px;
}
/* menu */

.menu_wrap{
	height: 350px;
	text-align: center;
	
}
.available_menu {
	height: 300px;
    float: left;
}


.class_menu {
	height: 300px;
	float: left;
	text-align: center;
	margin: 0 60px;
}

.menu_wrap_sub {
	height: 300px;
	width: 900px;
	margin: auto;
	padding-top: 30px;
}

.available_menu_table,
.class_menu_table2 {
	height: 300px;
	/* overflow-y:scroll; */
}

.class_menu_table, 
.button_div {
	float: left;
	margin-right: 30px;

} 

.Lfloat {
	float: left;	
} 


.class_menu_table2 {
	float: left;
	width: 320px;
	height: 300px;
	margin:3px;
} 

.class_menu_table2 table {	
	float: left;
	width: 250px;
} 


.scroll {
	overflow-y:scroll;
}

thead {
	position: sticky;
    top: 0px;
    background-color: white;
    border: 1px solid black;
}

