

/* user_role 페이지 */

.role_info {
	height: 250px;
	text-align: center;
}

.userRole_title {
	text-align: center;
}

.userRole_info {
	height: 350px;
	text-align: center;
	padding-top: 30px;
}

.userRole_info_sub {	
	height: 300px;
	width: 70%;
	margin: auto;
	padding-top: 30px;
}



.test {
	border: 1px solid black;
}


.urInfo {	
    float: left;  
	height: 250px;
}


.selInfo {
	float: left;
	text-align: center;	
	padding: 0 30px;
	margin: 0 50px;
}

.NoUrInfo {
	float: left;  
	height: 250px;	
}


.selInfo_table {
	width: 100px;
}

#curRole {
	width: 15px;

}

#cur {
	margin: 5px;
}

#changeBtn {
	margin: 10px;
}

/* menu */

.menu_wrap{
	height: 350px;
	text-align: center;
	
}
.available_menu {
	height: 300px;
    float: left;
}


.class_menu {
	height: 300px;
	float: left;
	text-align: center;
	margin: 0 60px;
}

.menu_wrap_sub {
	height: 300px;
	width: 800px;
	margin: auto;
	padding-top: 30px;
}

.available_menu_table,
.class_menu_table {
	height: 300px;
	overflow-y:scroll;
}

.scroll {
	overflow-y:scroll;
}
