ul, li {
	list-style: none;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}

.left_navbar {
	display: block;
	float: left;
}

.user_table {
	display: inline-block;
	padding-left: 30px;
	margin-top: 30px;
}

.userAdd {
	padding-bottom: 10px;;
}

.userSearch {
	padding-bottom: 10px;;
}

a {
	text-decoration: none;
	color: black;
}

a:active :hover :visited {
	text-decoration: none;
}

/* user_role 페이지 */

.role_info {
	height: 250px;
	text-align: center;
}

.userRole_title {
	text-align: center;
}

.userRole_info {
	height: 350px;
	text-align: center;
	padding-top: 30px;
}

.userRole_info_sub {	
	height: 300px;
	width: 70%;
	margin: auto;
	padding-top: 30px;
}



.test {
	border: 1px solid black;
}


.urInfo {
	
    float: left;
  
	height: 250px;
	/* float : right; */
}


.selInfo {
	float: left;
  

	 text-align: center;
	/*position: absolute;

	width: 100px; */
	 padding: 0 30px;
	margin: 0 60px;
}

.NoUrInfo {
	float: left;
  
	height: 250px;
	/* 
	position: absolute;
	display: inline-block;
	height: 250px; */
	
} 


