<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="class_menu_table2 scroll test" th:fragment="cate">
	
		<table>
			<tr>
				<th width="60%">이름</th>
				<th width="40%">상태</th>					
			</tr>
			<tr th:class="tt2" th:id="${c.menuId}" th:each="c : ${cateList}" th:onclick="clicks([[${c.menuId}]],[[${c.show}]]);"
			 	th:style="${c.show == 1 }?'color:gray'">
				<td class="t t1" th:text="${c.menuName}"  ></td>
				<td class="t t1" th:if="${c.show == 0}" th:text="사용안함" ></td>
				<td class="t t1" th:if="${c.show == 1}" th:text="사용중"></td>
			</tr>			
		</table>
		
		<div class="Lfloat">
			<button type="button" class="cateBtn">추가</button>
		</div>
		
		
		<script th:inline="javascript">
				
			
		
		</script>
		
	
</div>


</html>