<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thyemleaf/layout"
      layout:decorate="~{layout/layout1}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<th:block layout:fragment="css">

<style>

tr, td {
	padding: 3px 5px;
	
	}
	
	th {
		padding: 0;
		}

</style>

</th:block>

<body>

<div layout:fragment="content">

	<div class="wrapper">		
		<div class="menu_wrap test">	
			<div class="menu_wrap_sub test">
				<div class="available_menu test">
					<div class="available_menu_table scroll">
						<table>
							<thead>
							<tr class="table_fixed">
								<th>분류</th>
								<th>이름</th>
								<th>타입</th>
							</tr>
							</thead>
							<tbody>
								<tr th:each="m : ${menuList}">
									<td th:text="${m.category}"></td>
									<td th:text="${m.menuName}"></td>
									<td th:text="${m.menuType}"></td>
	
								</tr>
							</tbody>
						</table>
					</div>
				</div>

					<div class="class_menu test">
						<div class="class_menu_table scroll">
							<table>
								<tr>
									<th>분류</th>
								</tr>
								<tr th:each="c : ${cate}">
									<td th:text="${c}" th:onclick="clickCate([[${c}]])"></td>
								</tr>
							</table>
						</div>
						<div class="class_menu_table2 scroll" th:replace="~{/menu/flag_menuCate::cate}"></div>
						<!-- <div class="Lfloat">
							<button class="">추가</button>
						</div> -->
					</div>
				</div>
		</div>
		
		
	</div> <!-- wrapper -->	
</div>


<th:block layout:fragment="script">
<script th:src="@{/js/plugins/sweetalert/sweetalert.min.js}" async></script>
<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
<script th:src="@{/js/plugins/validate/validate-ko.js}" ></script>


<script>



	// 분류별 카테고리 내역
	function clickCate(data){	
	
		console.log(data);
		
        
         $.ajax({
            url: 'menu_cate',
            type: "post",
            data: {cate:data},            
            success: function (data) {         	           	
            
            	$(".class_menu_table2").replaceWith(data);           
               
            }
         })	   
		
	};
	
	 function clicks(target){
		console.log("click / " + target);

		$(".tt").css("backgroundColor", "transparent");
		$("#" + target).css("background-color","blue");		
		
		 
	    var menuId = target; // 선택한 행의 menuId 값 저장
	    
	    $(".cateBtn").click(function(){
	    	console.log("hi")
	      /*   $.ajax({
	            type: "POST",
	            url: "your_url",
	            data: {"menuId": menuId},
	            success: function(response){
	                console.log(response);
	            },
	            error: function(error){
	                console.log(error);
	            }
	        }); */
	    });
	}
	




	 
	 
	$(document).ready(function() {
		
		  
		});
	
 
</script>

</th:block>


</body>
</html>

