<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.UserRole.mapper.MenuMapper">

  <resultMap id="menuMap" type="com.UserRole.model.Menu"> 
    <result column="menu_id" jdbcType="VARCHAR" property="menuId" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="menu_type" jdbcType="VARCHAR" property="menuType" />
    <result column="show" jdbcType="INTEGER" property="show" />
  </resultMap>
  
 
  <insert id="updateByExampleSelective" parameterType="map">
    insert into menu (menu_id, category, menu_name,  menu_type, show)
    values (#{menuId,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, #{menuName,jdbcType=VARCHAR}, 
      #{menuType,jdbcType=VARCHAR}, #{show,jdbcType=INTEGER})
  </insert>
  

 	<update id="updateByExample" parameterType="map">
    update menu
    set category = #{category,jdbcType=VARCHAR},
      menu_name = #{menuName,jdbcType=VARCHAR},
      menu_type = #{menuType,jdbcType=VARCHAR},
      show = #{show,jdbcType=INTEGER}
    where menu_id = #{menuId,jdbcType=VARCHAR}
  </update>
</mapper>