<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.UserRole.mapper.MenuMapper">

  <resultMap id="menuMap" type="com.UserRole.model.Menu"> 
    <result column="menu_id" 	    property="menuId" />
    <result column="category" 	    property="category" />
    <result column="category_sub" 	property="cateSub" />
    <result column="menu_name" 	    property="menuName" />
    <result column="crud" 	        property="crud" />
    <result column="menu_type" 	    property="menuType" />
    <result column="show" 		    property="show" />
  </resultMap>

 
  <insert id="updateByExampleSelective" parameterType="map">
    insert into menu (menu_id, category,category_sub, menu_name, crud, menu_type, `show`)
    values (#{menuId}, #{category}, #{cateSub}, #{menuName}, #{crud}, #{menuType}, #{show})
  </insert>
  
  
  <select id="findMenu" parameterType="string" resultMap="menuMap">
  	select 	menu_id,
  			category,
  			category_sub,
  			menu_name,
  			crud,
  			menu_type,
  			`show`
  			
  	from 	menu
  	
  	where	`show` = 1
  
  </select>
  
  
  
  <select id="findMenuList" parameterType="string" resultMap="menuMap">
  	select 	menu_id,
  			category,
  			category_sub,
  			menu_name,
  			crud,
  			menu_type,
  			`show`
  			
  	from 	menu
  	
  	where	menu_id = #{menuId}
  	
  	
  
  </select>
  
  
  
  
  
  <select id="findCate" parameterType="string" resultType="string">
  	select 	category
  			
  	from 	menu
  
  	group by category
  
  </select>
  
   
  <select id="findCateList" parameterType="string" resultMap="menuMap">
  	select 	menu_id,
  			category,
  			category_sub,
  			menu_name,
  			crud,
  			menu_type,
  			`show` 			
  			
  	from 	menu
  	
  	where   category = #{category}
  	
  	
  
  </select>  
    
    
	<update id="updateCateShow" parameterType="string" >
	    update 	menu
	    
	    set		`show` = 1
	    
	    where 	menu_id = #{menuId}
  </update>
  
  
	<update id="updateByExample" parameterType="map">
    update menu
    set category = #{category,jdbcType=VARCHAR},
      menu_name = #{menuName,jdbcType=VARCHAR},
      menu_type = #{menuType,jdbcType=VARCHAR},
      show = #{show,jdbcType=INTEGER}
    where menu_id = #{menuId,jdbcType=VARCHAR}
  </update>
</mapper>