<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.UserRole.mapper.RoleMapper">

  <resultMap id="BaseResultMap" type="com.UserRole.model.Role">    
    <result column="role_id"  	property="roleId" />
    <result column="role_name"  property="roleName" />
    <result column="state"  	property="state" />
  </resultMap>

  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    
    delete from role
    where role_id = #{roleId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.UserRole.model.Role">
   
    insert into role (role_id, role_name, state
      )
    values (#{roleId,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.UserRole.model.Role">
   
    update role
    set role_name = #{roleName,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER}
    where role_id = #{roleId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    
    select role_id, role_name, state
    from role
    where role_id = #{roleId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
   
    select role_id, role_name, state
    from role
  </select>
 
</mapper>